body {
  font-family: "Crimson Text", "Times New Roman", serif;
}

h1,h2 {
  font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main h1 {
    text-align: center;
    background-color: #851944;
    color: #FFF;
}

p {
    text-align: justify;
}
